/*
.col-md-6-yasser {
  width: 100%;
  float: left;
  height: 78vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


div..col-md-6-yasser > img.yasser {
max-height: 100%;
}

div.round-box img.scale-with-grid {
  max-width: none !important
}*/

/*=========tk's font override==========*/

.tkFontCelebName {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 12px;
  font-weight: 200;
}

.tkFont1 {
  color:white;
  font-family: 'Poiret One', cursive;
}

.tkFont2 {
  color:white;
  /*font-family: 'Roboto', cursive;*/
  font-family: 'Roboto' !important, sans-serif !important;
}

.tkFontBold {
  /*font-size: 18px;*/
  font-weight: 900;
  /*font-family: 'Roboto', sans-serif;*/
}
#menu-main-menu.menu li a{
  color: #cdb2b9;
  font-family: 'Poiret One', cursive;
  font-size: large;
}

#menu-main-menu.menu li.hover a{
  color:white;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
}

@media only screen and (max-width:479px){

  .author.tk_Walk_through_Font h5 {
    font-size: 20px !important;

  }
}

.author.tk_Walk_through_Font h5 {

  font-family: 'Poiret One', sans-serif;
  font-size: 30px;
  color: #ff82a6;
  font-weight: 600;
}


.bq_wrapper.tk_Walk_through_Font2 blockquote{

  font-family: inherit;
  font-style: inherit;
  color:#999c9e;
}


.largeTK {
  font-size: 160%;
  line-height: 150%;
  font-family: 'Poiret One',cursive;
  color: red !important;
}


/*======end of tk's font override=======*/

/*=========tk's Top menu bar========*/

.menu-panelTK {

}

#Top_bar .menu.tk>li.current_page_item>a {
  border-bottom:4px solid #ff0088;
  font-weight: bolder;
color: white;
  /*background-color: rgba(0,0,0,0.5);*/
}

/*#Top_bar .menu.tk>li.current_page_item:hover>a {
  border-bottom:4px solid blue;
  background-color: rgba(0,0,0,0.5);
}

#Top_bar .menu.tk>li.current_page_item.hover>a {
  border-bottom:4px solid blue;
  background-color: rgba(0,0,0,0.5);
}*/

/*#Top_bar .menu.tk>li.current_page_item>a {
  border: 1px solid transparent;
  border-color: transparent;
}*/

#Top_bar .menu.tk>li:after{
  transition: all 0.1s linear 0s;
    width: 100%;
    display: block;
    background-color: #ff0088;
    height: 0px;
    content: '';
    z-index: 125;
}

#Top_bar .menu.tk>li:hover:after {
  height: 4px;
}

#Top_bar .menu.tk>li.active:after,.menu.tk> li:hover:after {
    height: 4px;
}

#Top_bar .menu.tk>li.current_page_item:hover:after {
  height: 0px;
}

#Top_bar .menu.tk>li.current_page_item.active:after,.menu.tk> li:hover:after {
    height: 0px;
}

/*======end of tk's menu bar=======*/


/*======== 2.0 tk's Rev slider ============*/

@media screen and (min-width:401px) , screen and (max-width: 760px) {
  .hermes.tp-bullets {
    top: 55% !important; /*tks*/
  }
}

@media only screen and (max-width:400px){
  .hermes.tp-bullets {
    top: 51% !important; /*tks*/
  }
}

@media only screen and (width: 768px){
.hermes.tp-bullets {
    top: 73% !important;
  }
}

@media only screen and (min-width:768px){
  .hermes.tp-bullets {
    top: 77% !important; /*tks*/
  }
}

@media only screen and (width:768px){
  .hermes.tp-bullets {
    top: 74% !important; /*tks*/
  }
}
/*======== 2.0 tk's Rev slider ============*/

.tks.shop_slider .shop_slider_ul li {
    float: left;
    list-style: none;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
}

.tks .one.column {
    width: 100%;
}

.tks .column, .columns {
	float: left;
	margin: 0 0% 40px;
}


/*test */
.containertk {
  margin: 40px auto;
  max-width: 700px;
}

img.tk {
  max-width: 100%;
}

img.tk.fit {
  /*border: 5px solid maroon;*/
  /*width: 10em;*/
  width: 300px;
  /*height: 10em !important;*/
  height: 350px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

@media only screen and (min-width:768px) {
  img.tk.fit {
    /*border: 5px solid maroon;*/
    /*width: 10em;*/
    width: 300px;
    /*height: 10em !important;*/
    height: 400px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

img.tk.fitSlider {
  /*border: 5px solid blue;*/
  /*width: 10em;*/
  width: 100%;
  /*height: 10em !important;*/
  height: 250px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

/*=========================Section card story 2===============================*/

.floatr {
  position: relative;
  top: 0;
  transition: all ease 0.3s;
  /*transition: all 0.5s;
    -webkit-transition: all 0.5s;*/

}
.floatr:hover {
  top: -10px;
  /*opacity: 0.3*/
}

.full_card_overlay {
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  padding-top: 5px;
  background: rgba(41, 41, 41, 0.82);
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: all ease 0.5s;
  }

.floatr:hover .full_card_overlay {
  visibility: visible;
  opacity: 1;
  /*padding: 0 20px;
  padding-top: 5px;
  background-color: rgba(255, 0, 128, 0.5)*/
}

/*.floatr:hover  div:nth-last-child(2) {
  visibility: visible;
  opacity: 1;
  background:rgba(0, 0, 0, 0.71);
}*/


.tk.tp-caption.Photography-Button,.Photography-Button
{
	background-color:rgba(0,0,0,0);
	border-color:rgba(255,255,255,0.25);
	border-radius:30px 30px 30px 30px;
	border-style:solid;
	border-width:2px;
	/*color:rgba(255,255,255,0.25);*/
  color: white;
	font-family: 'Poiret One', cursive;
	font-size:16px;
	font-style:normal;
	font-weight:600;
	letter-spacing:1px;
	line-height:15px;
	padding:13px 35px;
	text-align:left;
	text-decoration:none;
  transition: all 0.3s;
}

.tk.tp-caption.Photography-Button:hover,.Photography-Button:hover
{
	background-color:rgba(0,0,0,0);
	border-color:rgb(255, 0, 128);
	border-radius:30px 30px 30px 30px;
	border-style:solid;
	border-width:2px;
	/*color:rgba(255,255,255,1.00);*/
  color:#ff5998;
  font-size:17px;
  font-weight:bolder;
	text-decoration:none;
}

.tk_overlay_desc {

  margin-top:60%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  font-size: 18px;
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Abel', sans-serif;*/
  color:rgba(255,255,255,0.25);
  transition: all 1.6s
}

.floatr:hover .tk_overlay_desc {

  margin-top:60%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  font-size: 18px;
  color:white;
}

.tkList2 .desc {
  background-color: white;
  /*padding: 10px 20px;*/
  line-height: 1.6;
  /*padding: 20px 35px 20px 20px;*/
  padding: 4% 10% 4% 4%;
  height: 135px; /*was 100px*/
  text-align: left;
  font-size: 16px;
}

@media only screen and (max-width: 360px) {
  .tkList2 .desc {
    background-color: white;
    /*padding: 10px 20px;*/
    line-height: 1.6;
    /*padding: 20px 35px 20px 20px;*/
    padding: 4% 10% 4% 4%;
    height: 125px; /*was 100px*/
    text-align: left;
    font-size: smaller;
  }
}

.tkList2 .desc h4 {
  margin-bottom: 5px;
  font-weight: bolder;
  color: #ff0080;
}

.tkParaFooter2 {
  position: absolute;
  bottom: 0;
  margin: 0px 0 5px;
  /*font-size: smaller;*/
  color: #aaa;
}

@media only screen and (min-width:400px) , screen and (max-width:766px) {
      .tkList2 {
        /*width:250px!important;*/
        padding: 0 15px;
      }
}
@media only screen and (max-width:320px) {
      .tkList2 {
        /*width:235px!important;*/
        padding: 0 15px;
      }
}

/*@media only screen and (min-width:768px) {
      .tkList2 {
        width:300px!important;
        padding: 0 15px;
      }
}*/

/*@media only screen and (min-width: 768px) {
    .items_group.clearfix.tk-minify{
      zoom: 0.7!important;
    }
}*/

@media only screen and (min-width: 400px) , screen and (max-width:767px) {
  img.tk.fit2 {
    /*border: 5px solid maroon;*/
    /*width: 10em;*/
    /*width: 250px;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 400px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
    margin-bottom: 0px !important;
  }
}

@media only screen and (min-width:1024px) {
  img.tk.fit2 {
    /*border: 5px solid maroon;*/
    /*width: 10em;*/
    /*width: 250px;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 330px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width: 375px) {
  img.tk.fit2 {
    /*border: 5px solid maroon;*/
    /*width: 10em;*/
    width: 235px;
    width: -webkit-fill-available;
    /*height: 10em !important;*/
    height: 330px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
    margin-bottom: 0px !important;
  }
}


@media only screen and (min-width:1025px) {
  img.tk.fit2 {
    /*border: 5px solid maroon;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 400px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
    margin-bottom: 0px !important;
  }
}

img.tk.fitCards {
  /*border: 5px solid blue;*/
  /*width: 10em;*/
  width: 100%;
  /*height: 10em !important;*/
  height: 200px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

@media only screen and (min-width: 768px) {
  img.tk.fitCards {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 250px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

img.tk.fitThumbs {
  /*border: 5px solid blue;*/
  /*width: 10em;*/
  width: 100%;
  /*height: 10em !important;*/
  height: 350px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

@media only screen and (width: 768px) {
  img.tk.fitThumbs {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 250px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

@media only screen and (min-width: 769px) {
  img.tk.fitThumbs {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 350px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

/*======================End of Section Card Story 2=======================*/


/*================Section card story ===============================*/

.tkList .desc {
  background-color: white;
  /*padding: 10px 20px;*/
  line-height: 1.6;
  padding: 20px 35px 20px 20px;
  height: 100px;
}

.tkList .desc h4 {
  margin-bottom: 5px;
  font-weight: bolder;
  color: #ff0080;
}

.tkParaFooter {
  position: absolute;
  bottom: 0;
  margin: 0px 0 5px;
}

@media only screen and (max-width:767px) {
      .tkList {
        width:300px!important;
        padding: 0 15px;
      }
}

@media only screen and (min-width:768px) {
      .tkList {
        width:300px!important;
        padding: 0 15px;
      }
}


@media only screen and (min-width: 768px) {
    .items_group.clearfix.tk-minify{
      zoom: 0.7!important;
    }
}

img.tk.fitCards {
  /*border: 5px solid blue;*/
  /*width: 10em;*/
  width: 100%;
  /*height: 10em !important;*/
  height: 200px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

@media only screen and (min-width: 768px) {
  img.tk.fitCards {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 250px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

img.tk.fitThumbs {
  /*border: 5px solid blue;*/
  /*width: 10em;*/
  width: 100%;
  /*height: 10em !important;*/
  height: 350px !important;
  -o-object-fit: contain;
  object-fit: cover;
  display: block;
  /*margin: 10px auto 10px auto;*/
}

@media only screen and (width: 768px) {
  img.tk.fitThumbs {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 250px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

@media only screen and (min-width: 769px) {
  img.tk.fitThumbs {
    /*border: 5px solid blue;*/
    /*width: 10em;*/
    width: 100%;
    /*height: 10em !important;*/
    height: 350px !important;
    -o-object-fit: contain;
    object-fit: cover;
    display: block;
    /*margin: 10px auto 10px auto;*/
  }
}

@media only screen and (max-width: 767px) {
	/* Blog Teaser */

	.grid .post-item, .masonry .post-item {
		width: 49.9%!important;
    /*height: 220px!important;*/
		margin: 0 1% 20px!important;
	}
}




.tk-Arrows-Right {
  display: block !important;
    top: 50% !important;
    position: absolute !important;
    width: 45px !important;
    right: 0px !important;
    z-index: 1 !important;
}

.tk-Arrows-Left {
  display: block !important;
    top: 50% !important;
    position: absolute !important;
    width: 45px !important;
    left: 0px !important;
    z-index: 1 !important;
}

/*========================Section Masonry Grid=================================*/
.author-date.hidden{
  display: none;
}

.entry-title.larger{
  font-size: 36px;
}



/*============Section Why Gorgias====================*/

.tkPanels {
    background-color: white;
    padding: 8%;
    border-radius: 2px;
}


/*=======================Footer==========================*/

.tooltipTK {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltipTK .tooltiptextTK {
    visibility: hidden;
    width: 120px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    line-height: 2;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 105%;
}

.tooltipTK:hover .tooltiptextTK {
    visibility: visible;
}
